
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.display{
    display: flex;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 700;
    font-size: 2.8rem;
}
.nav-list{
    list-style: none;
}
ul>li>a{
    text-decoration: none;
}
.nav-list{
    display: flex;
    gap: 25px;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.10);
}
/* banner-style */
.banner, .navbar{
    /* max-width: 1440; */
    margin: 0 auto;
}
.banner{
    /* text-align: center; */
}
.banner-container{
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}
.banner-pn{
    /* justify-content: center;
    justify-items: center; */
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}